<aside class="dash-aside-navbar">
    <div class="position-relative">
        <div class="logo text-md-center d-md-block d-flex align-items-center justify-content-between">
            <a routerLink="/">
                <img src="assets/dashboard/images/logo_01.png" alt="">
            </a>
            <button class="close-btn d-block d-md-none"><i class="bi bi-x-lg"></i></button>
        </div>
        <div class="user-data">
            <div class="user-avatar online position-relative rounded-circle">
                <img src="assets/images/profile.jpg" data-src="images/avatar_01.jpg" alt="" class="lazy-img">
            </div>
            <!-- /.user-avatar -->
            <div class="user-name-data">
                <button class="user-name dropdown-toggle" type="button" id="profile-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    Welcome
                </button>
            </div>
        </div>
        <!-- /.user-data -->
        <nav class="dasboard-main-nav">
            <ul class="style-none">
                <ng-container *ngFor="let item of sidenavItems">
                    <li [appRoleBasedLink] = "item.role"><a [routerLink] = "item.route" class="d-flex w-100 align-items-center">
                        <img [src]="item.icon" alt="" > 
                        <span>{{ item.name }}</span>
                    </a></li>
                </ng-container>
            </ul>
        </nav>
        <!-- /.dasboard-main-nav -->
        <div class="profile-complete-status">
            <div class="progress-value fw-500">87%</div>
            <div class="progress-line position-relative">
                <div class="inner-line" style="width:80%;"></div>
            </div>
            <p>Profile Complete</p>
        </div>
        <!-- /.profile-complete-status -->
        

    </div>
</aside>

