<!--
		=====================================================
			Footer One
		=====================================================
		-->
		<div class="footer-one">
			<div class="bottom-footer">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-4 order-lg-3 mb-15">
							<ul class="style-none d-flex order-lg-last justify-content-center justify-content-lg-end social-icon">
								<li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
								<li><a href="#"><i class="bi bi-dribbble"></i></a></li>
								<li><a href="#"><i class="bi bi-google"></i></a></li>
								<li><a href="#"><i class="bi bi-instagram"></i></a></li>
							</ul>
						</div>
						<div class="col-lg-4 order-lg-1 mb-15">
							<ul class="d-flex style-none bottom-nav justify-content-center justify-content-lg-start">
								<li><a href="contact.html">Privacy & Terms.</a></li>
								<li><a href="contact.html"> Contact Us</a></li>
							</ul>
						</div>
						<div class="col-lg-4 order-lg-2">
							<p class="text-center mb-15">Copyright @2023 jobi inc.</p>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /.footer-one -->

        

