.details h1 {
    color : green;
}
.details > h3{
    font-size: 24px;
    font-family: "gordita" !important;
    margin-bottom: 15px;
    margin-top: 15px;
}
.details > ul > li {
    font-size: 16px;
    font-family: "gordita" !important;
    padding: 5px;
}
.comp{
    font-size: 14px !important;
}